.About-cotainer {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}
.padding-30-about {
  padding: 0 30px;
}
.about-desc {
  max-width: 1320px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
}
.empowering-desc {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
}
.padding-empo {
  padding: 10px 0 0;
}
.empowering-title {
  font-family: Poppins-Bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;

  padding: 100px 0 30px;
}
.mission-title {
  font-family: Poppins-Bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  padding: 60px 0 30px;
}

.ChooseUs-main-about {
  max-width: 1320px;
  min-width: 200px;
  width: 100%;
  display: contents;
  overflow-x: hidden !important;
}
.why-choose-us-about {
  font-family: Poppins-Bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  padding: 60px 0 0;
}
.why-choose-us-cards-about {
  padding: 30px 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.choose-cards-right-about {
  display: flex;
  gap: 16px;
}
.choose-cards-left-about {
  display: flex;
  gap: 16px;
}
.num-txt-abt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.text-01-abt {
  font-size: 50px;
  font-weight: 800;
  line-height: 66px;
  text-align: left;
  color: rgba(0, 0, 0, 0.1);
}

.vision-mission-c{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.divider {
  width: 1px;
  background-color: #000;
  height: 219px;
  align-self: center;
  position: relative;
  top: 37px;
}
/* .grn-str-point{
  display: flex;
  align-items: flex-start;
  justify-content: center;
} */
@media only screen and (max-width: 1284px) and (min-width: 1025px) {
}
@media only screen and (max-width: 1024px) {
  .empowering-title {
    font-size: 30px;
    line-height: 45px;
  }
  .mission-title {
    font-size: 30px;
    line-height: 45px;
    padding: 50px 0 30px;
  }

  .padding-30-about {
    padding: 0 25px;
  }
  .why-choose-us-about {
    padding: 50px 0 0;
    font-size: 30px;
    line-height: 45px;
  }
  .why-choose-us-cards-about {
    flex-wrap: wrap;
    padding: 30px 0 50px;
    gap: 18px;
  }
  .choose-cards-left-about {
    gap: 18px;
  }
  .choose-cards-right-about {
    gap: 18px;
  }
  .grn-str-point {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 4px;
  }
  .num-txt-abt {
    align-items: unset;
  }
}

@media only screen and (max-width: 767px) {
  .padding-30-about {
    padding: 0 10px;
  }
  .empowering-title {
    padding: 50px 0 20px;
    font-size: 20px;
    line-height: 30px;
  }
  .empowering-desc {
    font-size: 16px;
    line-height: 24px;
  }
  .mission-title {
    font-size: 20px;
    line-height: 30px;
    padding: 40px 0 20px;
  }
  .why-choose-us-about {
    padding: 40px 0 0;
    font-size: 20px;
    line-height: 30px;
  }
  .why-choose-us-cards-about {
    flex-direction: column;
    padding: 20px 0 40px;
    gap: 18px;
  }
  .choose-cards-left-about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .choose-cards-right-about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title-chooseus {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .p-choose-desc {
    font-size: 16px !important;
    line-height: 24px !important;
    padding: 0 10px 37px;
  }
  .vision-mission-c{
    flex-direction: column;
  }
  .divider {
    width: 290px;
    background-color: #000;
    height: 1px;
    align-self: center;
    position: relative;
    top: 0;
  }
  .res-vision{
    padding: 0 0 20px;
  }
}
