.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgba(220, 223, 245, 0.5) 0%,
    rgba(243, 220, 241, 0.5) 35%,
    rgba(255, 246, 227, 0.5) 100%
  );
  margin: 0 auto;
}

/* .contact-form {
  background: linear-gradient(
    0deg,
    rgba(220, 223, 245, 0.5) 0%,
    rgba(243, 220, 241, 0.5) 35%,
    rgba(255, 246, 227, 0.5) 100%
  );
} */

.container {
  background-color: white;
  max-width: 1320px;
  min-width: 200px;
  width: 100%;
  border-radius: 10px;
  /* border: 1px solid black; */
}

.container .inputs {
  height: 40px;
  width: 100%;
  position: relative;
  /* margin-bottom: 30px; */
}

.container .inputs input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #00000080;
  outline: none;
  transition: border-bottom-color 0.5s ease; /* Added transform transition */
  position: relative;
  font-size: 18px;
  transform-origin: left; /* Ensure scaling happens from the left side */
  transform: scaleX(1); /* Start with full width */
}

.container .inputs input:focus {
  border-bottom-color: #5aba47; /* Change border color on focus */
  animation: shrink-expand 3s ease forwards; /* Shrink to 50% on focus */
}

.container .inputs label {
  color: #00000099;

  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  font-size: 18px;
  font-family: Poppins-Regular;
  transition: transform 0.5s ease; /* Smooth transition for label */
}

.container .inputs input:focus ~ label {
  transform: translateY(-23px); /* Move the label up on focus */
}

.input-flex {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

.input-padding {
  padding: 33px 0;
}

.padding-bottom {
  padding-bottom: 43px;
}

.container-padding {
  padding: 0 35px;
}

.submit {
  background-color: white;
  border-radius: 32px;
  width: 185px;
  padding: 5px 0;
  border: 1px solid #000000;
  font-size: 18px;
  font-family: Poppins-SemiBold;
  cursor: pointer;
}

.submit-button {
  text-align: center;
  padding: 50px 0 30px 0;
}

.us {
  font-size: 40px;
  line-height: 60px;
  font-family: Poppins-Bold;
}

.contact-us {
  text-align: center;
  padding: 30px 0 60px;
}
@keyframes shrink-expand {
  0% {
    transform: scaleX(1); /* Start with full width */
    border-bottom-color: gray;
  }
  50% {
    transform: scaleX(0.1); /* Shrink to 50% width */
    border-bottom-color: gray;
  }
  100% {
    transform: scaleX(1); /* Expand back to full width */
    border-bottom-color: #5aba47;
  }
}

@media (max-width: 1024px) {
  .input-flex {
    flex-wrap: wrap;
    gap: 33px;
  }
  .contact-us {
    padding: 30px 0 50px;
  }
  .container-padding {
    padding: 0 30px;
}
.us {
  font-size: 30px;
  line-height: 45px;
}
}


@media (max-width: 767px) {
  .input-flex {
    flex-wrap: wrap;
    gap: 33px;
  }
  .contact-us {
    padding: 25px 0 40px;
  }
  .container-padding {
    padding: 0 5px;
}
.us {
  font-size: 20px;
  line-height: 30px;
}
.submit-button {
  padding: 50px 0 25px 0;
}
}