/* .tooltip {
  position: absolute;
  background-color: #868686;
  color: #fff;
  padding: 6px 10px;
  border-radius: 3px;
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  z-index: 5;
  white-space: nowrap;
} */
.tooltip {
  position: absolute;
  background-color: #868686;
  color: #fff;
  padding: 6px 10px;
  border-radius: 3px;
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  z-index: 5;
  white-space: nowrap;
}

.tooltip::before {
  border-left: 10px solid #0000;
  border-right: 10px solid #0000;
  border-top: 10px solid #868686;
  bottom: -8px;
  content: "";
  left: 52%;
  position: absolute;
  transform: translateX(-50%);
}

.position-1 {
  bottom: 130%;
  left: 44%;
  /* bottom: 86.1%;
  left: 46%; */
}
.position-2 {
  bottom: 130%;
  left: 49%;
}
.position-3 {
  bottom: 130%;
  left: 1%;
}
.position-4 {
  bottom: 130%;
  left: 10.6%;
}
.position-5 {
  bottom: 130%;
  left: 59.5%;
}
.position-6 {
  bottom: 130%;
  left: 37.5%;
}
.position-7 {
  bottom: 130%;
  left: 20.3%;
}
.position-8 {
  bottom: 130%;
  left: 63.7%;
}
.position-9 {
  bottom: 130%;
  left: 55.4%;
}
.position-10 {
  bottom: 130%;
  left: 39.4%;
}
.position-11 {
  bottom: 130%;
  left: 59.4%;
}
.position-12 {
  bottom: 130%;
  left: 54.4%;
}
.position-13 {
  bottom: 130%;
  left: 60%;
}
.position-14 {
  bottom: 130%;
  left: 28%;
}
.position-15 {
  bottom: 130%;
  left: 48%;
}
.position-16 {
  bottom: 130%;
  left: 39%;
}
.position-17 {
  bottom: 130%;
  left: 34%;
}
.position-18 {
  bottom: 130%;
  left: 26%;
}
.position-19 {
  bottom: 130%;
  left: 48%;
}
.position-20 {
  bottom: 130%;
  left: 34%;
}
.position-21 {
  bottom: 130%;
  left: 54%;
}
.i-center {
  position: relative;
  top: 3.5px;
  /* padding-top: 5px; */
}

@media (max-width: 1024px) {
  .position-1 {
    left: 37.2%;
  }
  .position-2 {
    left: 43%;
  }
  .position-3 {
    left: -10.4%;
  }
  .position-4 {
    left: 0;
  }
  .position-5 {
    left: 55%;
  }
  .position-6 {
    left: 30.5%;
  }
  .position-7 {
    left: 11%;
  }
  .position-8 {
    left: 59.7%;
  }
  .position-9 {
    left: 51.4%;
  }
  .position-10 {
    left: 32.4%;
  }
  .position-11 {
    left: 55.4%;
  }
  .position-12 {
    left: 26.4%;
    bottom: 80%;
  }
  .position-13 {
    left: 35.4%;
    bottom: 80%;

  }
  .position-14 {
    left: 20%;
  }
  .position-15 {
    left: 42.4%;
  }
  .position-16 {
    left: 32%;
  }
  .position-17 {
    left: 26.4%;
  }
  .position-18 {
    left: 18%;
  }
  .position-19 {
    left: 42%;
  }
  .position-20 {
    left: 27%;
  }
  .position-21 {
    left: 49%;
  }
  .b-5{
    bottom: 4.5px;
  }
}
