*{
    margin: 0;
    padding: 0;
}


.diffrent{
    max-width: 1320px;
    min-width: 200px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
    
    /* background-color: white; */
}
.innovation{
    max-width: 320px;
    min-width: 250px;
    height: 442px;
    width: 100%;
    border: 1px solid #0000001A;
    background: #E2E2E2;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    


}
.trigger{
    max-width: 320px;
    min-width: 250px;
    height: 442px;
    width: 100%;
    border: 1px solid #0000001A;
    background: #E2E2E2;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}
.improvment{
    max-width: 320px;
    min-width: 250px;
    height: 442px;
    width: 100%;
    border: 1px solid #0000001A;
    background: #E2E2E2;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}
.technology{
    max-width: 320px;
    min-width: 250px;
    height: 442px;
    width: 100%;
    border: 1px solid #0000001A;
    background: #E2E2E2;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}
.design{
    max-width: 320px;
    min-width: 250px;
    height: 442px;
    width: 100%;
    border: 1px solid #0000001A;
    background: #E2E2E2;
    border-radius: 20px;
    position: relative;



}
.Accessibility{
    max-width: 320px;
    min-width: 250px;
    height: 442px;
    width: 100%;
    border: 1px solid #0000001A;
    background: #E2E2E2;
    border-radius: 20px;
    position: relative;



}
.Continuous{
    max-width: 320px;
    min-width: 250px;
    height: 442px;
    width: 100%;
    border: 1px solid #0000001A;
    background: #E2E2E2;
    border-radius: 20px;
    position: relative;


}
.all-flex{
    display: flex;
    gap: 13px;
    justify-content: center;
}
.in-div{
    /* padding: 10px; */
    /* background-color: white; */
    /* bottom: 167px; */
    position: relative;
    max-width: 320px;
    min-width: 200px;
    width: 100%;
    top: -20px;
    z-index: 1;
    border: 1px solid gray;
}
.in-div .p{
    color: black;
    background-color: white;
    font-size: 18px;
    border-radius: 0 0 20px 20px;
    text-align: justify;
    padding: 10px;
    font-weight: 400;
}
.in-div .p span{
    color: #5ABA47;
    font-weight: 600;
}

.web{
    padding-bottom: 90px;
}
.innovation-main{
    
}
