* {
  margin: 0;
  padding: 0;
}

.section-bg {
  background-color: #303030;
  /* border: 1px solid red; */
  /* width: 100%; */
  height: 382px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-p {
  /* padding-bottom: 100px; */
}
.banner-head {
  font-family: Poppins-SemiBold;
  margin: 0 auto;
  color: white;
  min-width: 200px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  align-items: center;
}
.right-icon {
  font-size: 10px;
  font-weight: 700;
  font-family: Poppins-Bold;
}
.main-head {
  color: #5aba47;
  text-align: center;
  font-size: 50px;
  line-height: 75px;
  font-family: Poppins-Bold;
}
.arrow-right {
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .main-head {
    font-size: 30px;
    line-height: 45px;
  }
}
@media (max-width: 768px) {
    .main-head {
      font-size: 20px;
      line-height: 30px;
    }
    .banner-head {
        font-size: 10px;
        line-height: 15px;
        gap: 5px;
    }
  }
