.feature {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
}
.feature-container {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  padding: 0 30px;
}
.title-feature {
  font-family: Poppins-Bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  padding: 100px 0 30px;
}
.cards-feature {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.card-feature {
  max-width: 1320px;
  min-width: 200px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #0000001a;
  border-radius: 10px;
}
.gray-card-left {
  width: 635px;
  height: 680px;
  border-radius: 5px;
  background: #e6e6e6cc;
  margin: 10px 0 10px 10px;
}
.gray-card-right {
  width: 635px;
  height: 680px;
  border-radius: 5px;
  background: #e6e6e6cc;
  margin: 10px 10px 10px 0;
}
.content-01 {
  width: 675px;
  padding: 30px;
}
.content-02 {
  width: 675px;
  padding: 30px;
}
.text-01 {
  /* font-family: Poppins-ExtraBold; */
  font-size: 80px;
  font-weight: 800;
  /* line-height: 85px; */
  line-height: 66px;
  text-align: left;
  color: #5aba4780;
}
.useful-for-everyone {
  font-family: Poppins-SemiBold;
  font-size: 40px;
  line-height: 60px;
  text-align: left;
  padding: 15px 0 5px;
}
.points-featutre {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.point-green-star {
  display: flex;
  align-items: center;
  gap: 7px;
}
.point-text {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 27px;
}
.feature-card-desc {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
}
.feature-pricing-plans-title {
  font-family: Poppins-Bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  padding: 60px 0 30px;
}
.feature-pricing-text-desc {
  font-family: Poppins-Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  max-width: 749px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
}
.feature-create-your-card-text {
  padding: 5px 13.5px;
  font-family: Poppins-SemiBold;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  justify-content: center;
}

.card-feature-2-4 {
  max-width: 1320px;
  min-width: 200px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #0000001a;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .title-feature {
    font-size: 30px;
    line-height: 45px;
  }
  .card-feature {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%
  }
  .gray-card-left {
    margin: 10px 10px 0;
    width: 100%;
  }
  .card-feature-2-4 {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .gray-card-right {
    width: 100%;
    margin: 10px 10px 0;
  }
  .content-01 {
    width: 100%;
    padding: 30px 10px;
  }
  .content-02 {
    width: 100%;
    padding: 47px 10px;
  }
  .feature-pricing-plans-title {
    padding: 50px 0 30px;
    font-size: 30px;
    line-height: 45px;
  }
  .feature-container {
    padding: 0 25px;
  }
  .text-01 {
    line-height: 68px;
  }
}

@media (max-width: 768px) {
  .title-feature {
    font-size: 20px;
    line-height: 30px;
    padding: 50px 0 20px;
  }
  .feature-container {
    padding: 0 10px;
  }
  .gray-card-left {
    height: 300px;
  }
  .text-01 {
    font-size: 35px;
    /* line-height: 52.5px; */
    /* line-height: 35.5px; */
    line-height: 30px;
  }
  .content-01 {
    padding: 20px 10px;
  }
  .content-02 {
    padding: 20px 10px;
  }
  .useful-for-everyone {
    font-size: 19.7px;
    line-height: 30px;
  }
  .feature-card-desc {
    font-size: 16px;
    line-height: 24px;
  }
  .points-featutre {
    padding: 30px 0;
  }
  .point-text {
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
  }
  .text-14{
    font-size: 14.8px !important;
  }
  .gray-card-right {
    height: 300px;
  }
  .feature-pricing-plans-title {
    padding: 40px 0 20px;
    font-size: 20px;
    line-height: 30px;
  }
  .feature-pricing-text-desc {
    font-size: 16px;
    line-height: 24px;
  }
  .cards-feature {
 
    gap: 30px;
}
}
