*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img-overlay-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;  
  transform: translateX(-50%);
  left: 50%;
}

.feature-1380 {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
}
.feature-1320 {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  padding: 0 30px;
}

.feature-container-home {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  font-family: Poppins-Bold;
  /* padding-bottom: 80px; */
  padding-top: 60px;
}

.feature-image-home {
  width: 165px; /* Initial width */
  height: 587px;
  object-fit: cover;
  transition: width 0.3s ease-in-out; /* Smooth transition */
  display: block;
  background-color: white;
  border-radius: 10px;
}

.feature-image-home.expanded {
  width: 420px;
}
.voice-over:hover .feature-image-home {
  width: 420px;
}
.feature-image-home.expanded + .img-overlay-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 95px;
  transform: translateX(-50%);
  left: 50%;
}

.feature-image-home.expanded + .img-overlay-flex .imgexp {
  width: 220px;
  height: 220px;
}

.exclusive-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* flex-wrap: wrap; */
  padding: 30px 0 60px 0;
}

.voice-over {
  position: relative;
  /* display: inline-block; */
  /* width: 100%; */
  cursor: pointer;
  display: flex;
  flex-direction:column-reverse;
}

.overlay-text {
  position: absolute;
  top: 67%;
  left: 43%;
  transform: translate(-50%, -50%) rotate(-90deg);
  color: #5aba47;
  font-family: Poppins-SemiBold;
  font-size: 20px;
  
  width: 335px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.voice-over:hover .overlay-text {
  opacity: 1; /* Show text on hover */
  transform: translate(-50%) rotate(0deg);
  color: white;
  
}
.voice-over.active .overlay-text {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg);
  color: black;
}

.voice-over-container {
  position: relative;
}

.personalized {
  position: absolute;
  top: 70%; /* Center vertically in the parent container */
  left: 50%; /* Center horizontally in the parent container */
  transform: translate(-50%); /* Center it perfectly */
  color: black;
  padding: 0 14px;
  font-family: Poppins-Regular;
line-height: 27px;
  font-size: 18px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 420px;
  text-align: justify;
}
.voice-over.active .personalized {
  display: block;
  opacity: 1;
}



.voice-over:hover .personalized {
  display: block; /* Show the personalized text on hover */
  opacity: 1; /* Fully visible */
  text-align: justify;
}



@media screen and (max-width: 1024px) {
  .exclusive-container {
    flex-direction: column;
    padding: 30px 0 50px 0;
    gap: 15px;
  }
  .voice-over.active .overlay-text {
    display: block;
    opacity: 1;
    transform: translate(-52%, -50%) rotate(0deg);
        color: black;
        padding: 0 0 0 14px;
        top: 230px;
    
  }
  .img-overlay-flex {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 48px;
}
  .feature-1320{
    padding: 0 25px;
  }
  
  .feature-image-home {
    width: 100%;
    height: 165px;
    
  }
  .feature-image-home.expanded {
    width: 100%;
    height: 360px;
   
}

  
  .voice-over:hover .feature-image-home {
    width: 100%;
    height: 360px;
    transition: height 0.3s ease-in-out;
    

  }
  .overlay-text {
    transform: translate(-50%, -50%) rotate(0deg);
    top: 36%;
    left: 25%;
  }
  .overlay-text {
    /* position: absolute; */
    /* top: 59%; */
    left: 43%;
    /* transform: translate(-50%, -50%) rotate(-90deg); */
    color: #5aba47;
    font-family: Poppins-SemiBold;
    font-size: 20px;
    
    width: 83%;
    transition: opacity 0.3s ease, transform 0.3s ease;
    top: 50%;
  }
  .personalized {
    /* top: 41%; */
    /* left: 51%; */
    width: 100%;
  }
  .feature-left-padding {
    padding: 0 14px;
    gap: 10px;
  }
  .feature-container-home{
    padding-top: 50px;
    font-size: 30px;
    line-height: 45px;
  }
  .feature-image-home.expanded + .img-overlay-flex .imgexp {
    width: 150px;
    height: 150px;
}
  .feature-image-home.expanded + .img-overlay-flex {
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    transform: translateY(-50%);
    left: 13px;
}
  
}
@media screen and (max-width: 767px){
  .feature-container-home{
    font-size: 20px;
    padding-top: 40px;
    line-height: 30px;
  }
  .exclusive-container {

    padding: 20px 0 40px 0;
}
  .feature-1320{
    padding: 0 10px;
  }
  .overlay-text {
    transform: translate(-50%, -50%) rotate(0deg);
    top: 36%;
    
    /* padding: 0 0 10px 10px; */
}
.overlay-text{
  font-size: 16px;
  line-height: 24px;
  top: 50%;
}
.in-div .p span{
  font-size: 16px;
}
.personalized {
 
  /* left: 51%; */
  font-size: 16px;
line-height: 24px;
}
.img-overlay-flex {
  display: flex
;
  align-items: center;
  justify-content: end;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
}

}



@media screen and (max-width:1320px  ) and (min-width:1025px) {
  .feature-image-home{
    width: 112px;
  }
}

@media screen and (max-width: 450px){
  .feature-container-home{
    font-size: 20px;
    padding-top: 40px;
    line-height: 30px;
  }
  .exclusive-container {

    padding: 20px 0 40px 0;
}
  .feature-1320{
    padding: 0 10px;
  }
  .overlay-text {
    transform: translate(-50%, -50%) rotate(0deg);
    top: 36%;
    
    /* padding: 0 0 10px 10px; */
}
.overlay-text{
  font-size: 16px;
  line-height: 24px;
  top: 50%;
}
.in-div .p span{
  font-size: 16px;
}
.personalized {
 
  /* left: 51%; */
  font-size: 13px;
line-height: 18px;
}
.imgexp{
  width: 50px;
  height: 50px;
}
.img-overlay-flex {
  display: flex
;
  align-items: center;
  justify-content: end;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 8px;
}

}




