body {
   /* Light background color */
}

.container-word{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents overflow */
 
  padding: 40px 0 0 0;
  text-align: center;
  color:  rgba(90, 186, 71, 1);
  font-size: 40px;
  font-family: Poppins-Bold;

}

.letter {
  display: inline-block; /* Make each letter a block */
  transition: transform 0.3s ease; /* Smooth transition */
}

.jump {
  animation: jump 0.5s ease; /* Animation for jumping */
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Jump height */
  }
  100% {
    transform: translateY(0);
  }
}
.word-padding{
  padding-bottom: 24px;
}
.faq-head{
  font-size: 40px;
  font-family: Poppins-Bold;
  color: black;
  padding: 60px 0 30px 0;
}

@media screen and (max-width: 1024px) {
.word-padding{
  font-size: 30px;
}
.under-1380-transform{
  max-width: 1380px;
  min-width: 250px;
}
}