.work{
    text-align: center;
    font-size: 40px;
    font-family: Poppins-Bold;

}
.work-container{
    max-width: 1380px;
    /* max-width: 200px; */
    width: 100%;
   
    margin: 0 auto;
}
.simple-step-container{
    padding-top: 30px;
}
.process{
    font-size: 18px;
    font-family: Poppins-Regular;


}
.create{
    font-size: 20px;

    font-family: Poppins-SemiBold;

}
.choose{
    width: 400px;
    height: 400px;
    background: #D9D9D96E;

}
.choose-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
}
.box-text-work{
    display: flex;
    gap: 15px;
    padding: 20px 0 5px 0;
}
.text{
    font-family: Poppins-ExtraBold;
    color: rgba(0, 0, 0, 0.2);

    font-size: 20px;
}
.template{
    font-family: Poppins-SemiBold;
    color: rgba(90, 186, 71, 1);
    font-size: 20px;
    line-height: 30px;


}
.selecting{
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    font-family: Poppins-Regular;

    
}
.customize{
    /* padding-top: 280px; */
}
.information{
    /* padding-top: 150px; */
}
