
.work {
  text-align: center;
  font-size: 40px;
  font-family: Poppins-Bold;
}
.work-container {
  max-width: 1380px;
  /* max-width: 200px; */
  width: 100%;
  margin: 0 auto;
}
.simple-step-container {
  padding-top: 30px;
}
.process {
  font-size: 18px;
  font-family: Poppins-Regular;
}
.create {
  font-size: 20px;
  font-family: Poppins-SemiBold;
}
.choose {
  width: 400px;
  height: 400px;
  background: #d9d9d96e;
}

.choose-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.box-text-work {
  display: flex;
  gap: 15px;
  padding: 20px 0 5px 0;

}
.text {
  font-family: Poppins-ExtraBold;
  color: rgba(0, 0, 0, 0.2);

  font-size: 20px;
}
.template {
  font-family: Poppins-SemiBold;
  color: rgba(90, 186, 71, 1);
  font-size: 20px;
  line-height: 30px;
}
.selecting {
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  font-family: Poppins-Regular;
}

.customize {
  /* padding-top: 280px; */
}
.information {
  /* padding-top: 150px; */
}
/* Step Layout */

/* .choose-template {
    position: sticky;
    top: 0; 
    z-index: 3;
  }
  
  .information {
    position: relative;
    top: 0px; 
    z-index: 2;
  }
  
  .customize {
    position: relative;
    top: 0px; 
    z-index: 1;
  } */

.customize{
    padding-top: 280px;
}
.information{
    padding-top: 150px;
}
.choose-template{
    /* position: sticky; */
}
.scroll{
    display: flex;
}
.choose-template, .information, .customize {
    /* background-color: #f4f4f4; */
    padding: 20px;
    border-radius: 8px;
   
    position: relative;
    transition: transform 2s ease, opacity 0.3s ease; /* Smooth transition */
  }
  
  .sticky-card {
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure it stays on top */
  }
  
  .scroll-up-card {
    opacity: 0; /* Initially hidden */
    transform: translateY(100px); /* Positioned below the viewport */
  }
  
  .scroll-up-card.in-view {
    opacity: 1;
    transform: translateY(0); /* Slide up into view */
  }
  

