.work {
  text-align: center;
  font-size: 40px;
  font-family: Poppins-Bold;
  line-height: 60px;
}
.under-1380-work{
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
}
.under-1320-work{
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  padding: 0 30px;
}
.work-container {
  max-width: 1380px;
  /* max-width: 200px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.simple-step-container {
  padding-top: 30px;
}
.process {
  padding: 5px 0 20px;
  font-size: 18px;
  font-family: Poppins-Regular;
  line-height: 27px;
}
.create {
  font-size: 20px;
  font-family: Poppins-SemiBold;
  line-height: 30px;
}
.choose {
  width: 400px;
  height: 400px;
  background: #d9d9d96e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.choose-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.box-text-work {
  display: flex;
  gap: 15px;
  padding: 20px 0 5px 0;
}
.text {
  /* font-family: Poppins-ExtraBold; */
  font-weight: 800;
  color: rgba(0, 0, 0, 0.2);

  font-size: 20px;
}
.template {
  font-family: Poppins-SemiBold;
  color: rgba(90, 186, 71, 1);
  font-size: 20px;
  line-height: 30px;
}
.selecting {
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  font-family: Poppins-Regular;
}

.choose-template {
  /* position: sticky; */

}
.scroll {
  display: flex;
}
.choose-template,
.information,
.customize {
  position: relative;
  /* max-width: 400px;
  min-width: 200px;
  width: 100%; */
  transition: transform 2s ease, opacity 0.3s ease; /* Smooth transition */
}

.sticky-card {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hei{
  margin: 0 0 27px;
}