

/* Footer Container */
.footer-container {
  background-color: #303030;
  margin-top: 100px;
 
}
.footer-content{
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
}
/* Footer Content Layout */
.footer-filta {
  display: flex;
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

/* Section One Styling */
.footer-section-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 355px;
  padding: 60px 0 38px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-desc {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: white;
}

/* Section Two Styling */
.footer-section-two {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 67px 0 38px;
}

.page-name {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.hover-color:hover {
  color: rgba(90, 186, 71, 1);
  transition: color 0.6s ease-in-out;
}

.active-link {
  color: rgba(90, 186, 71, 1);
}

.padding-company {
  padding-bottom: 10px;
}

/* Section Three Styling */
.footer-section-three {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 67px 0 38px;
}

/* Section Four Styling */
.footer-section-four {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 67px 0 38px;
}

/* Social Icons Footer */
.social-icon-footer {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* General Icon Styling */
.icons-f {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: 1.7px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  transition: color 0.3s ease, outline-color 0.3s ease;
}

.icons-f:hover {
  color: #5aba47;
  outline-color: #5aba47;
}

/* Specific SVG Styling */
.icons-f svg path {
  stroke: white; /* Default stroke color */
  transition: stroke 0.3s ease;
}

.icons-f:hover svg path {
  stroke: #5aba47; /* Green stroke on hover */
}

/* Horizontal Rules Styling */
.hr-color {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.hr-rotate {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 54px;
}

/* Footer Copyright */
.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  min-width: 200px;
  width: 100%;
  /* margin: 0 auto; */
  color: #fff;
  padding: 22px 17px;
}

.copyright {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

/* Facebook Icon Specific Styling */
.in-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-help{
  max-width: 181px;
  min-width: 50px;
  width: 100%;
}

@media screen and (max-width: 1220px) and (min-width:1024px){
  .hr-rotate {
    margin: 0 34px;
  }
}

@media only screen and (max-width: 1024px) {
  .hr-rotate {
    margin: 0 13px;
  }
  .footer-copyright {
    flex-direction: column;
  }
  .page-name {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-section-one {
    padding: 50px 0 24.8px 25px;
    width: unset;
  }
  .footer-section-four {
    padding: 67px 20px 38px 0;
  }
  .footer-desc {
    font-size: 16px;
    line-height: 24px;
    width: 220px;
  }
  .social-icon-footer{
    flex-wrap: wrap;
  }
  .footer-filta {
    padding: unset;
  }
}


@media only screen and (max-width:768px){
  .footer-filta {
    flex-direction: column;
    padding: unset;
  }
  .footer-section-one {
    padding: 42px 10px 12px;
    width: unset;
}
  .footer-section-two {
    padding: 12px 0 12px 10px;
  }
  .footer-section-three{
    padding: 12px 0 12px 10px;
  }
  .footer-section-four {
    padding: 12px 0 12px 10px;
  }
  .hr-rotate {
    margin: unset;
}
.footer-copyright {
  padding: 15px 0 15px 10px;
  width: 260px;
  margin: unset;
}
.copyright {
  font-size: 16px;
}
.footer-desc {
  font-size: 16px;
  line-height: 24px;
}
.footer-container {
  margin-top: 50px;
}

}