.produts-page {
  max-width: 1380px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.gry-card-left-img-product {
  height: 484px;
  width: 484px;
}
.unlock-exclusive-p {
  font-size: 40px;
  line-height: 60px;
  font-family: Poppins-Bold;
  color: rgba(90, 186, 71, 1);
  text-align: center;
  padding: 60px 0 15px 0;
}
.take-your {
  text-align: center;
  font-size: 20px;
  font-family: Poppins-SemiBold;
}
.product-contact-us {
  text-align: center;
  padding-top: 20px;
}

/* Top section css start  */

.top-product-section-p-p {
  padding: 100px 50px 0;
}

.top-2-section-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-2-center-flex-p-p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0 18px;
}
.box-center-top-2 {
  max-width: 309px;
  min-width: 200px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 0;
}
.grn-title-top-2 {
  font-family: Poppins-SemiBold;
  font-size: 20px;
  line-height: 30px;
  color: #7eb951;
  text-align: center;
}
.left-cotent-top-2 {
  max-width: 350px;
  min-width: 200px;
  width: 100%;
}
.right-content-top-2 {
  max-width: 379px;
  min-width: 200px;
  width: 100%;
}
.black-desc-top-2 {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.horizontal-line-right {
  /* max-width: 271px;
  min-width: 100px;
  width: 100%; */
  /* width: 271px; */
  width: calc(20.5%);
  height: 1px;
  background-color: black;
}

.horizontal-line-left {
  /* max-width: 271px;
  min-width: 100px;
  width: 100%;   */
  /* width: 271px; */
  width: 14.5vw;

  height: 1px;
  background-color: black;
}

.img-arrow-p-p {
  position: relative;
  right: -5px;
}
.img-arrow-p-p-r {
  position: relative;
  right: 5px;
}

.arrow-container-product {
  display: flex;
  align-items: center;
}
/* .vertical-line-with-arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.vertical-line {
  height: 73px;
  width: 1px;
  background-color: black; 
}

.arrow {
  position: relative;
  width: 0;
  height: 0;
}

.arrow-top-arrow::before {
  content: ">";
  font-size: 12px; 
  color: black; 
}
.arrow-bottom-arrow::before {
  content: ">";
  font-size: 12px; 
  color: black; 
}
.arrow-top-arrow {
  margin-bottom: 5px;
}

.arrow-top-arrow {
  margin-top: 5px;
  transform: rotate(270deg);
  position: absolute;
  right: 0.6px;
  top: -14px;
}
.arrow-bottom-arrow {
  margin-top: 5px;
  transform: rotate(90deg);
  position: absolute;
  left: 0.7px;
  top: 56px;
} */

/* Smart nfc product css  */

.title-products {
  font-family: Poppins-Bold;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  padding: 60px 0 30px;
}

.card-smart-nfc {
  max-width: 1320px;
  min-width: 200px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #0000001a;
  border-radius: 10px;
}

.rating-container {
  padding: 10px 0 15px 0;
}
.s-n-business-card {
  width: 640px;
  /* height: 189px; */

  margin: 0 53px;
}
.product-create-button {
  padding: 15px 0 0 0;
}
.s-n-b-c-desc {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 27px;
  padding: 5px 0 0 0;
}
.s-n-b-c-title {
  font-family: Poppins-SemiBold;
  font-size: 20px;
  line-height: 30px;
}
.gray-card-left-products {
  max-width: 564px;
  min-width: 200px;
  width: 100%;
  height: 441px;
  border-radius: 5px;
  background: #e6e6e6cc;
  margin: 10px 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-page-start {
  font-size: 19px;
  color: rgba(126, 185, 81, 1);
  font-family: Poppins-Medium;
  padding: 5px 0 15px 0;
}
.product-key-point {
  font-size: 20px;
  font-family: Poppins-SemiBold;
  padding-bottom: 5px;
}
.product-page-li {
  font-size: 18px;
  line-height: 27px;
  font-family: Poppins-Regular;
}

.gray-card-left-products-r {
  max-width: 564px;
  min-width: 200px;
  width: 100%;
  height: 418px;
  border-radius: 5px;
  background: #e6e6e6cc;
  margin: 10px 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shipping-grn {
  font-family: Poppins-Medium;
  font-size: 19px;
  line-height: 28.5px;
  color: #7eb951;
  padding: 5px 0 15px 0;
}
.p-30-products {
  margin: 30px 0;
}
.s-n-b-c-desc-why {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 27px;
  padding: 5px 0 30px;
  text-align: justify;
}

.why-c-f-points-p {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  gap: 30px;

}
.circle-icon-w-c-f-p-p {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-w-c-f-p-p-s {
  height: 40px;
  width: 40px;
  animation: zoom-in-zoom-out 4s ease infinite;
}
.e-c-w-c-f-title {
  font-family: Poppins-Medium;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 0 2px;
}
.e-c-w-c-f-desc {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.effortless-connectivity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.w-effortless {
  width: 285px;
}
.w-future-proof {
  width: 267px;
}
.w-eco-frd {
  width: 369px;
}

.start-journey {
  margin-top: 80px;
  padding: 153px 0;
  background-color: white;
  border: 1px solid #0000001a;
  width: 100%;
  height: 503px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  margin-top: 60px;
  background: radial-gradient(
      circle,
      transparent 0%,
      transparent 6%,
      rgba(0, 0, 0, 0.03) 6%,
      rgba(0, 0, 0, 0.03) calc(6% + 2px),
      transparent calc(6% + 2px)
    ),
    radial-gradient(
      circle,
      transparent 0%,
      transparent 15%,
      rgba(0, 0, 0, 0.03) 15%,
      rgba(0, 0, 0, 0.03) calc(15% + 2px),
      transparent calc(15% + 2px)
    ),
    radial-gradient(
      circle,
      transparent 0%,
      transparent 25%,
      rgba(0, 0, 0, 0.03) 25%,
      rgba(0, 0, 0, 0.03) calc(25% + 2px),
      transparent calc(25% + 2px)
    ),
    radial-gradient(
      circle,
      transparent 0%,
      transparent 36%,
      rgba(0, 0, 0, 0.03) 36%,
      rgba(0, 0, 0, 0.03) calc(36% + 2px),
      transparent calc(36% + 2px)
    ),
    radial-gradient(
      circle,
      transparent 0%,
      transparent 50%,
      rgba(0, 0, 0, 0.03) 50%,
      rgba(0, 0, 0, 0.03) calc(50% + 2px),
      transparent calc(50% + 2px)
    ),
    radial-gradient(
      circle,
      transparent 0%,
      transparent 67%,
      rgba(0, 0, 0, 0.03) 67%,
      rgba(0, 0, 0, 0.03) calc(67% + 2px),
      transparent calc(67% + 2px)
    ),
    radial-gradient(
      circle,
      transparent 0%,
      transparent 84%,
      rgba(0, 0, 0, 0.03) 84%,
      rgba(0, 0, 0, 0.03) calc(84% + 2px),
      transparent calc(84% + 2px)
    );
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.start-journey-txt {
  font-family: Poppins-Bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}
.p-b-start {
  padding-bottom: 40px;
}
.product-testimonials-title {
  font-size: 40px;
  line-height: 60px;
  font-family: Poppins-Bold;
  text-align: center;
  padding: 60px 0 30px 0;
}


.testimonial-slider-main-container {
  max-width: 1320px;
  min-width: 200px;
  width: 100%;
  
  text-align: center;
  position: relative;
}
.testimonial-card {
  max-width: 857px;
  min-width: 200px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.testimonial-card-contain {
  max-width: 577px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}

.slick-arrow {
  color: black;
}
.slick-next:before {
  color: black;
}
.slick-next:before {
  color: black;
}

.testimonial-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin: 0 auto;
  background: #fff;
  padding-top: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

.testimonial-card {
  position: relative;
}

.testimonial-text {
  font-size: 18px;
  font-family: Poppins-Regular;

  padding-bottom: 10px;
  max-width: 577px;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
}

.testimonial-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.dots {
  display: flex;
  justify-content: center;
  padding-bottom: 49px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc; /* Inactive dot color */
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #000; /* Active dot color */
}

.testimonial-company {
  font-size: 0.9rem;
  color: #666;
}

.rating {
  /* margin-top: 10px; */
  color: #f5a623;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  position: absolute;
}

.arrow.left {
  left: -50px;
  top: -53px;
}

.arrow.right {
  top: -53px;
  right: -50px;
}

.arrow:hover {
  background: #333;
}


@keyframes zoom-in-zoom-out {
  0% {
    scale: 80%;
  }
  50% {
    scale: 100%;
  }
  100% {
    scale: 80%;
  }
}













@media screen and (max-width: 1024px) {
  .s-n-b-c-desc-why{
    padding: 0px 0 30px;
  }
.pricing-product-render{
  padding: 0 25px;
}


  .title-products {
    font-size: 30px;
    line-height: 45px;
    padding: 50px 0 30px;
  }
  .produts-page {
    padding: 0 25px;
  }
  .card-smart-nfc {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
  }
  .s-n-business-card {
    width: 100%;
    /* height: 189px; */
    order: 1;
    margin: 0 10px;
  }
  .why-c-f-points-p {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 0px;
  }
  .arrow.left {
    left: 15px;
    top: -53px;
  }
  .arrow.right {
    right: 15px;
  }
  .unlock-exclusive-p {
    font-size: 30px;
    line-height: 45px;
  }
  .start-journey-txt {
    font-size: 30px;
    line-height: 45px;
  }
  .card-smart-nfc {
    gap: 15px;
  }
  .gray-card-left-products {
    margin: 10px 10px 0 10px;
  }
  .gray-card-left-products-r {
    margin: 10px 10px 0 10px;
  }
  .product-testimonials-title {
    font-size: 30px;
    line-height: 45px;
    padding: 50px 0 30px 0;
  }
  
}

@media screen and (max-width: 768px) {
  .why-c-f-points-p {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 0px;
  }
  .arrow.right {
    display: none;
  }
  .arrow.left {
    display: none;
  }
  .testimonial-card {
    padding: 0 10px;
  }
  .gry-card-left-img-product {
    height: 166px;
    width: 260px;
  }
  .w-eco-frd {
    max-width: 369px;
    min-width: 150px;
    width: 100%;
  }
  .w-effortless {
    max-width: 285px;
    min-width: 100px;
    width: 100%;
  }
  .unlock-exclusive-p {
    font-size: 20px;
    line-height: 30px;
  }
  
  .title-products {
    font-size: 20px;
    line-height: 30px;
    padding: 40px 0 20px 0;
  }
  .product-testimonials-title {
    font-size: 20px;
    line-height: 30px;
  }
  .start-journey-txt {
    font-size: 20px;
    line-height: 30px;
  }
  .produts-page {
        padding: 0 10px;
    }
    .product-testimonials-title{
      padding: 40px 0 20px 0;
    }
   
    
    
    .how-it-work {
      
      padding: 40px 0 10px 0;
     
  }
  .design-smart-inner-p{
    font-size: 18px;
    line-height: 27px;
  }
  .design-smart-para{
    font-size: 16px;
    line-height: 24px;
  }
  .technical-specification{
    font-size: 18px;
    line-height: 27px;
  }
  .technical-s-container p{
    font-size: 16px;
    line-height: 24px;
  }
  .offer-title{
    font-size: 18px;
    line-height: 27px;
  }
  .smart-card-offer-section p{
    font-size: 16px;
    line-height: 24px;
  }
}

